<div class="container mt-4">
    <div class="text-center">
        <div class="employee-box">
            <h3 class="display-4" style="color: white; font-size: 2rem;">TOTAL NO OF EMPLOYEES</h3>
            <p class="display-2" style="color: white; font-size: 3rem;">
                <%= totalEmployees %>
            </p>
        </div>
    </div>
</div>

<style>
    .employee-box {
        display: inline-block;
        padding: 30px;
        border-radius: 15px;
        background-color: black;
        color: white;
        font-size: 2rem;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
    }

    .text-center {
        text-align: center;
    }

    .display-4 {
        font-size: 2rem;
    }

    .display-2 {
        font-size: 3rem;
    }

    #ram {
        display: none;
    }
</style>